{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block breadcrumb_menu %}
{% block meta_title %}{% trans "Dashboard" %}{% endblock %}
<li class="active">{% trans "Dashboard" %}</li>
{% endblock %}
{% block main %}
<div class="col-md-12">
<div class="row">
  <div class="col-md-10" >
    <div class="headertitle" style="backgroud:#FE9E00;border:1px solid #fff;color:#fff">
         Change Password
   </div>
   </div>

   <div class="col-md-2">
     <button type="button" name="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-help"> Help &nbsp;<i class="fa fa-question-circle"> </i> </button>
    </div>

</div>
<div class="col-md-12">
<form method="POST">
{{form.non_field_errors}}
{% csrf_token %}
{% for field in form %}

<div class="form-group">
  <label for="email">{{field.label_tag}}:</label>
{{ field }}
{{ field.help_text | safe }}
{% if field.errors %}
{{ field.errors }}

</div>
{% endif %}
{% endfor %}
<br>

<button type="submit" class="btn btn-success" >Submit</button>
<br>
<pre>
  Password must start with an alphabetic character.
  Password must be at least 8-character long.
  Password must contain at least an alphabetic character and a digit.
  Password cannot be the same as username.
  Previous {{PREVOIUS_PASSWORDS}}  passwords  (including the current password) cannot be reused.
  All passwords changed within {{PASSWORD_CHNGED_WITHIN_DAYS}} days cannot be reused.
  {{LOGIN_ATTEMPET}} failed login attempts to be allowed.
  Locked after {{LOGIN_ATTEMPET_LOCK}} failed login attempts  until the password is unlocked / reset by system administrator.
  {{PASSWORD_EXPIRY_DURATION}} days of password expiry for user account
</pre>

</form>
</div>
<div class="modal fade" id="modal-help">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <object type="application/pdf" data="{% static "pdf/subdashboard.pdf" %}" width="100%" height="500" style="height: 85vh;">

          <a target="_blank" href="{% static "pdf/subdashboard.pdf" %}"> Click here to open </a>

        </object>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</div>
<style media="screen">
  pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
     background-color:none;
     border: none;
    border-radius: 4px;
    margin-top: 20px;
}
.errorlist li{
  color:red;
}
</style>

{% endblock %}
