// Colors
$accentColor: #5b9bf6;

$colorBlack: #000000;
$colorWhite: #ffffff;
$colorTextGrey: #787878;
$colorButtonGrey: #f0f0f0;
$colorGreen: #48cb8b;
$colorRed: #ff0304;

$rowGreyBg: #f3f3f3;
$footerBg: #595959;
$inputBorder: #ddd;

// Sizes
$defaultFontSize: 13px;

// Animations
$defaultAnimDuration: 200ms;
